<div class="container">
  <h1>Mock Mate</h1>
  <p>Mock Mate is an AI-powered mock interview platform designed to help you excel in job interviews. Our tool
    provides comprehensive feedback on your body language, eye movements, facial expressions, grammar, pronunciation,
    and
    vocal delivery. By analyzing your interview video, Mock Mate offers detailed insights and personalized
    suggestions, helping you improve your presentation and communication skills. With features like question answer
    scoring, video quality assessment, and video transcription, our tool ensures you are thoroughly prepared to impress
    potential employers. Enhance your interview performance and boost your confidence with Mock Mate.
  </p>
  <button routerLink="/interview">Go to App</button>
</div>