<div class="page-wrapper">
  <!-- Background Container -->
  <div class="background-container">
    <div class="background-content">
      Loyalist College<br><br>in Toronto
    </div>
  </div>

  <!-- Form Container -->
  <div class="form-container">
    <!-- <img src="/assets/loyalistlogo.png" alt="Loyalist College Logo">-->
    <h1>Welcome to Loyalist Mockmate Interview Site</h1>
    <p>Enter your details to log in to your account</p>

    <form>
      <input type="text" placeholder="Username"  name="username" required />
      <input type="password" placeholder="Password"  name="password" required />
      <a href="#">Forgot your password?</a>
      <button (click)="submitpage()" type="">LOG IN</button>
    </form>
    <div class="cookies-notice">Cookies notice</div>
  </div>
</div>
