<!-- <h1>MockMate</h1>
<p class="description">MockMate is an AI-powered mock interview platform designed to help you excel in job interviews. Our tool
  provides comprehensive feedback on your body language, eye movements, facial expressions, grammar, pronunciation, and
  vocal delivery. By analyzing your interview video, MockMate offers detailed insights and personalized
  suggestions, helping you improve your presentation and communication skills. With features like question answer
  scoring, video quality assessment, and video transcription, our tool ensures you are thoroughly prepared to impress
  potential employers. Enhance your interview performance and boost your confidence with MockMate.</p>

<button>Use Tool</button> -->

<router-outlet></router-outlet>